/* src/styles/AboutPage.module.css */
.container {
  padding: 40px;
  max-width: 800px;
  width: 90%;
  text-align: center;
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: #f9f9f9;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #0357AF;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.email {
  font-size: 18px;
  color: #0357AF;
  font-weight: bold;
  margin-bottom: 20px;
}

.email a {
  color: #889;
}

.address {
  font-size: 16px;
  color: #0357AF;
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer {
  font-size: 14px;
  color: #777;
  margin-top: 30px;
  text-align: center;
}