@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;700&display=swap");

body {
  font-family: "Noto Sans Thai", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  

  
  /* background-color: #fffffe !important; */
}

.backgroundcolor {
    background: linear-gradient(90deg, #0357AF 0%, white 100%);
    /* border-right:  1px solid #E5E7EB;  */
  }
  /* .ant-steps-item-tail: {
    width: 130px;
    height: 200%;
} */
/* ปรับขนาดของไอคอนและตัว step (ถ้าต้องการ) */
/* หน้า TestPage */
.ant-steps-item-icon {
  /* width: 40px !important;
  height: 40px !important; */
  /* font-size: 18px !important; */
  align-items: center;  
  justify-content: center;
}

/* หากต้องการปรับความสูงของแต่ละ step item */
.ant-steps-item {
  min-height: 150px; /* ปรับค่าตามที่ต้องการ */
}
/* ปรับขนาดปุ่ม */
.custom-button {
  font-size: 24px; /* ปรับขนาดตัวอักษร */
  padding: 10px 20px; /* ปรับขนาดของปุ่ม */
  width: 500px;
  height: 55px;
  text-align: center;
  color: black; 
  font-family: "Noto Sans Thai", sans-serif; /* แก้ไขให้ถูกต้อง */
  font-weight: 400; 
  word-wrap: break-word;
  border-radius: 30px; 
  border: 1px solid white; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  display: block;
  margin-top: 20px;
}
